
.ck-button:not(.ck-disabled):hover,
.ck-button:not(.ck-disabled):focus,
a.ck-button:not(.ck-disabled):hover,
a.ck-button:not(.ck-disabled):focus{
    cursor: pointer;
}
.ck-dropdown .ck-dropdown__button:hover,
.ck-dropdown .ck-dropdown__button:active{
    background: transparent;
    box-shadow: none;
}
.ck-dropdown .ck-button.ck-on,
a.ck-button.ck-on,
.ck-dropdown .ck-button.ck-on:hover,
.ck-dropdown .ck-button.ck-on:active {
    background: #ffffff;
    box-shadow: none;
}
.ck-dropdown .ck-dropdown__button:focus{
    box-shadow: none;
    border: none;
}
.ck-dropdown .ck-dropdown__panel {
    border: none;
    box-shadow: 0 4px 25px -5px rgba(0, 0, 0, 0.4);
}

.ck-rounded-corners .ck-dropdown .ck-dropdown__panel .ck-list{
    border-radius: 2px ;
}


.ck-font-family-dropdown .ck-dropdown__panel .ck-list__item{
    cursor: pointer;
    color: #4a4a4a;
}

.ck-dropdown:not(.ck-font-family-dropdown ) .ck-dropdown__panel .ck-list__item {
    cursor: pointer;
    color: #4a4a4a;
    font-size: 12px !important;
    text-align: center;

}


.ck-balloon-panel .ck-font-size-dropdown .ck-dropdown__panel .ck-list__item{
    padding: 3px 0;
}

.ck-dropdown .ck-dropdown__panel .ck-list__item:focus{
    box-shadow: none;
}

.ck-dropdown .ck-dropdown__panel .ck-list__item.ck-list__item_active{
    color: #ffffff;
}

.ck-dropdown:after {
    border-color: #b4b4b0 #ffffff transparent;
}

.ck-editor__editable.ck-focused{
    box-shadow: none !important;
}

.ck-editor__editable .image.image-style-side {
    margin-left: 32px;
}
.ck-editor__editable .image.image-style-align-left {
    margin-right: 32px;
}
.ck-editor__editable .image.image-style-align-right {
    margin-left: 32px;
}


.ck-list__item {
    min-width: 100%;
}

.ck-body .ck-input,.ck-input-text:focus{
    box-shadow: none;
}

.ck-editor__editable_inline > *:first-child {
    margin-top: 0;
    margin-bottom: 0;
}

.ck-dropdown.ck-heading-dropdown .ck-dropdown__button .ck-button__label{
    width: 3em;
}

.ck-dropdown.ck-heading-dropdown,
.ck-font-size-dropdown{
    margin-right: 0;
}

.ck-editor__editable_inline > *:last-child{
    margin-top: 0;
    margin-bottom: 0;
}
.ck-balloon-panel .ck-toolbar{
    padding: 0;
}

.ck-dropdown .ck-dropdown__panel .ck-list.ck-rounded-corners,
.ck-rounded-corners .ck-dropdown .ck-dropdown__panel .ck-list{
    border-radius: 0;
}

.ck .ck-link_selected {
    background: none;
    outline: 0px;
}
